AMANDACORE_ADMIN_SEED_USERNAME=replace_me
AMANDACORE_ADMIN_SEED_PASSWORD=replace_me
AMANDACORE_STORE_PATH=replace_me_local_platform_state_json_path
AMANDACORE_DEV_SECRET=replace_me
POSTGRES_PASSWORD=replace_me
